{% extends "blog/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block header_title %}{% trans "Password Reset" %}{% endblock %}

{% block head %}
    <style>
    .main-container{
        background-color: transparent;
        box-shadow: none;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    {% blocktrans %}
                        我们已经给你发了一封电子邮件。如果您在几分钟内没有收到，请与我们联系。(lzwxhnr@gmail.com)
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
