{% extends "blog/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block header_title %}{% trans "Change Password" %}{% endblock %}

{% block head %}
    <style>
    .main-container{
        background-color: transparent;
        box-shadow: none;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <form method="POST" action="{% url 'account_change_password' %}" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'account/bs3_form.html' %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <button type="submit" name="action" class="btn btn-success col-md-offset-6 col-xs-offset-4">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
