{% extends "blog/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block header_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <p>
                    {% blocktrans %}
                        我们已经发邮件给你确认，按照提供的链接完成注册过程。如果您在几分钟内没有收到，请与我们联系。(lzwxhnr@gmail.com)
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
